Layout: layout

-if page.meta.banner
  %div(class="banners-wrap t")
    %div.banners
      = partial page.meta.banner

%div(class="page-content no-banner")
  -if @page and @page.metadata("textclass")
    :plain
      <div class="#{@page.metadata("textclass")}">
  -else
    :plain
      <div class="t">


  -if @page and @page.lib("plusone")
    <div style="width:70px;padding-top:25px;float:right"><div class="g-plusone"></div></div>
  = yield

  -if @page and @page.lib("plusone")
    <div class="g-plusone"></div>
  :plain
    </div>
  = partial :comments