Layout: page

a href=page.metadata.fullfile class="awesome green" Download source, binaries, plugins, and sample code (15MB)
a href=page.metadata.minfile class="awesome black" Download core binary only (170K)

== yield


