Flags: -comments
Libs: -comments, bootstrap
Icon: phone
Layout: support_page

h1 Support Contracts

.row: .span12: p &nbsp;

- contract_tier = "OEM"
- hours_planning = 2
- support_incidents = 6
- designated_contacts = 1
- response_hours = 48


- short_features = ["#{hours_planning} Hour Architecture Planning", "#{support_incidents} Support Incidents", "#{designated_contacts} Designated Contacts", "Support Response time in #{response_hours} hours", "Free Plugin Upgrades"]


.row
  .span8
    p: img src="/img/contracts/contract-hero-oem.png"
    
    == partial(:details, {locals: {contract: SupportTier.oem}})
  