Flags: hidden

ruby: 
  gold_skus = ["Gold1YR","Gold2YR","Gold6MO"]
  silver_skus = ["Silver1YR","Silver2YR" ,"Silver6MO"]
  bronze_skus = ["Bronze1YR" ,"Bronze2YR" , "Bronze6MO"]
  elite_sku = "R3Elite"
  web = ""
  if gold_skus.include? product_value
    web = "https://store.imazen.io/products/imageresizer-gold-support-contract-and-elite-license"
  end
  if silver_skus.include? product_value
    web = "https://store.imazen.io/products/imageresizer-silver-support-contract-and-elite-license"
  end
  if bronze_skus.include? product_value
    web = "https://store.imazen.io/products/imageresizer-bronze-support-contract-and-elite-license"
  end
  if elite_sku == product_value
    web = "https://store.imazen.io/products/imageresizer-elite-license"
  end


a href=web
  == button_text
  |  &nbsp;
  i.icon-shopping-cart  