
.container
  .row
    .span4
      markdown:
        ## Overview
        The ImageResizer v4 core library and [18 plugins in the Essential edition](/plugins/editions/free) are free and open-source under the [Apache 2 license](/licenses/apache).

        Development of ImageResizer is funded by our commerical licences to the Performance and Elite editions. Commercial licenses also include source code and permit modification; most permit redistribution. 

        All Imazen software is open-source, and your funds help (both directly, and indirectly) maintain dozens of critical low-level, permissively-licensed OSS libraries across a wide spectrum. Visit [our GitHub profile](https://github.com/imazen) to see some of the work we maintian. 

        If you are able to comply with the AGPL v3 and provide the public with access to the complete source code for your website/service under any [AGPL v3](/licenses/agpl) acceptable terms (which includes MIT, GPLv3, and [Apache 2](/licenses/apache)), then you may use *all* ImageResizer plugins for free under the terms of the [AGPL v3](/licenses/agpl).
    .span4
      markdown:

         ## Commercial license terms
         * [Site-wide Subscription License Terms][site]
         * [Per-Server License Terms][server]
         * [Redistributor Agreement][redist]
         * [Redistribution Recipient License][recipient]
         * [Trial License Terms][trial]

         ## Open source licenses

         * [Apache 2][apache]
         * [AGPLv3][agpl]
         * [Imazen Contributor Agreement](/licenses/contribute)
         * [Imazen Software Grant and Corporate Contributor License Agreement](/licenses/contribute-corp)
         * [PdfRenderer License](/licenses/pdfrenderer)

         ## Discontinued licenses

         Looking for version-specific licenses? They [can be found here](/licenses/legacy-perpetual), but will shortly be discontinued.

         * [Resizer Freedom][freedom]
         * [Resizer Domain][domain]: The [Performance](/plugins/editions/performance) and [Creative](/plugins/editions/creative) editions are provided under this license.
         * [Resizer Enterprise][enterprise]: The [Elite edition](/plugins/editions/elite), OEM, and SaaS products include and Enterprise license.
         * [Resizer OEM][oem]: You buy this for business-wide use and resale. Available for purchase [here](https://store.imazen.io/products/r4-oem-license).
         * [Resizer SaaS][saas]: You buy this for using ImageResizer in a SaaS product. Available for purchase [here](https://store.imazen.io/products/r4-saas-license).


        [freedom]: /licenses/freedom  "Resizer Freedom License"
        [trial]: /licenses/trial  "Resizer Trial License"
        [domain]: /licenses/domain  "Imazen Domain License"
        [pro]: /licenses/pro  "Resizer Professional License"
        [proclient]: /licenses/proclient  "Resizer Professional Client License"
        [enterprise]: /licenses/enterprise  "Resizer Enterprise License"
        [oem]: /licenses/oem  "Resizer OEM License"
        [saas]: /licenses/oem  "Resizer SaaS License"

        [apache]: /licenses/apache  "Apache 2 License"
        [agpl]: /licenses/agpl  "GNU Affero General Public License v3"
        [contribute]: /licenses/contribute  "Imazen Individual Contributor Agreement"
        [contribute-corp]: /licenses/contribute-corp  "Imazen Corporate Contributor Agreement"
        [site]: /licenses/subscription/site "Site-wide Subscription License"
        [server]: /licenses/subscription/server "Imazen Server License"
        [redist]: /licenses/subscription/redist "Imazen Redistributor Agreement"
        [recipient]: /licenses/subscription/recipient "Imazen Redistribution Recipient License"
        
    .span4
      markdown:
        ## FAQ
        Q: Are licenses perpetual?
        : Site-wide subscription licenses become perpetual (for pre-existing versions) after 3 years. Legacy [version-specific licenses](/licenses/legacy-perpetual) were perpetual, but had to be re-purchased when new versions were released. We're adopting a more regular release cycle, and have thus retired the old model. 

        Q: Can I buy plugins individually?
        : No.

        Q: Can I upgrade from one license to another? 
        : You can switch between subscriptions in your customer portal. 

        Q: What can I use for free?
        : The [Essential Edition](/plugins/editions/essential). Check /resizer.debug to verify you're not using any paid/AGPL3 plugins.

        Q: Do you have a redistribution/integration guide?
        : [Yes, we do have information on redistributing and integrating ImageResizer](/docs/redist).