title: Pricing - Image Resizer
Icon: notes
Libs: -comments, uservoice, license
Aliases: /pricing /prices /buy /licenses

h1 Select your company or organization size.

css:
  
  ul.org_sizes{
    font-size:200%; 
    list-style: none; 
    margin:0;
  }
  ul.org_sizes li{
    line-height: 3em;
  }
  ul.org_sizes li i.icon-white{
    padding-right: 1em;
  }

ul.org_sizes
  - org_sizes.values.each do |org|
    li
      a href="/pricing/for/#{org[:tag]}"
        i class="icon-white #{org[:icon]}"
        = org[:summary]

markdown:
  1. Include your umbrella corporation head count; licenses cover your parent corportion and its subsidiaries.
  2. Include regular independent contractors (those that have been with your organization for more than 3 months and average more than 20 hours per week). 
  3. If your non-profit employs fewer than 5 people, try microenterprise pricing instead.
== partial :"footer"