%nav.breadcrumb
  %a(href="/") Home

#content
  %section(role="main")
    %h1 Sorry, something went wrong

    %p
      An error occurred while trying to serve your page. Please e-mail support@imageresizing.net if this issue persists for more than a few minutes.


