:plain
	<div class="page-content t no-banner">
		<h1>Sorry, something went wrong</h1>
		<p>An error occurred while trying to serve your page. Please e-mail <strong>support@imageresizing.net</strong> (or contact us using <a href="/support">the support page widget</a>) if this issue persists for more than a few minutes.</p>.
	</div>

