:plain
		<!-- content -->
			<div id="content-wrap" class="clear">
				<div id="content">
					<div id="main" class="mainContent">
				#{@page.to_html(self)}
				</div>
				<!-- /content -->	
				</div>				
		<!-- /content-wrap -->	
		</div>