:plain
	<div class="page-content t no-banner">
		<h1>
		#{@page.heading}
		</h1>
		<a href="#{@page.metadata('FullFile')}" class="awesome green">Download source, binaries, plugins, and sample code (15MB)</a>
		<a href="#{@page.metadata('MinFile')}" class="awesome black">Download core binary only (170K)</a>
		#{@page.body(self)}
	</div>