/* http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: black;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/** NDJ additions to reset **/

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
	display: block;
}

address,caption,cite,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}

abbr,acronym{
	border:0;
}


/* Selectively enabled text styling */

.t {
	font-size:100%;  /*16px*/
	line-height:1.5em; /* 24px rhythm */
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	color: #111;
}

html>body .t{
	font-size:16px;
	line-height:1.5em;
}

/* Headings
-------------------------------------------------------------- */

.t h1, .t h2, .t h3, .t h4, .t h5, .t h6{
	font-weight:normal;
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	font-size:100%;
	line-height:1.5em;
	margin-bottom:1.5em;
	margin-top:1.5em;
}
.t h1{
	font-size:200%;
	line-height:.75em;
	margin-bottom:.75em;
	margin-top:.75em;
}
.t h2{
	font-size:150%;
	margin-bottom:1em;
	margin-top:1em;
	line-height:1em;
}
.t h3{
	font-weight:bold;
}



/* Text elements
-------------------------------------------------------------- */

.t p{ 
	margin-top:1.5em;
	margin-bottom:1.5em;
} 

.t ul li{
	margin:0;
	padding:0;
	background: url("/images/bullet.png") no-repeat scroll left 10px transparent;
	list-style: none outside none;
	margin: 0 0 0 -12px;
	padding: 0 0 0 12px;
}
.t ul, .t ol{
	margin-top:1.5em;
	margin-bottom:1.5em;
}

.t ol{
	list-style-type:decimal;
	margin-left:1.5em;
	margin-top:1.5em;
	margin-bottom:1.5em;
}
.t ol ol, .t ol ul, .t ul ol, .t ul ul{
	margin-top:0px; 
	margin-bottom:0px;
	margin-left:1.5em;
}

.t ol li{
	
}

.t a,
.t a:focus,
.t a:hover {
	text-decoration: underline;
}

.t blockquote {
	background: #F9F9F9;
	border-left: 6px solid #ccc;
	margin: 0 0 18px;
	padding: 9px;
	quotes: """ """ "'" "'";
	color: #333;
	font-family: Georgia, "Times new roman", serif;
	font-size: 13px;
	font-style: italic;
}

.t p.intro:first-letter,
.t p.important:first-letter {
	font-size: 43px;
	font-weight: normal;
	line-height: 32px;
	letter-spacing: 5px;
	float: left;
	padding: 5px 0 0 0;
	width: auto;
	font-family: Georgia, Times, serif;
}

.t p.intro:first-line,
.t p.important:first-line {
	font-variant: small-caps;
}

.t pre, .t code {
	font-family: monaco, courier, "courier new", monospace;
	font-size: 12px;
	line-height:14px;
}



.no-banner  pre, .no-banner  code {
	font-family: monaco, courier, "courier new", monospace;
	font-size: 13px;
	line-height:16px;
}

.no-banner code{
	color: #0066a1;
}
.no-banner pre code{
	color: inherit;
}
.t code, .no-banner code{
	font-size:inherit;
	line-height:inherit;
}

.t strong{font-weight:bold;}


.t .amp {
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-style: italic;
	font-weight: normal;
	line-height: inherit;
}


.t .price{
	color:#3A741F;
}
.t p .price{
	font-weight:bold;
}

.t em{
	font-style:italic;
}

.t dl.faq dt{font-weight:bold;}
.t dl.faq dd{margin-bottom:1.5em;}


.t input[type='submit']{
	border: 1px solid #aaa;
	padding:5px;
	font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 16px; 
	cursor:pointer;
	background-color:white;
}
.t input[type='sumbit']:hover{
	border: 1px solid #555;
}
.t input[type='text']{
	padding: 5px; font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 16px; color: #666;
	border: 1px solid #aaa;
}
.t input[type='text']:hover{
	border: 1px solid #555;
}