body{
	background-color:black;
	background:url(/images/background-vertical-lines.gif) top left;
}
.site-container{
	width:960px;
	margin:0px auto 0px auto;
	/*background:url("/images/open-source-ribbon.png") no-repeat scroll top right transparent;*/
}

header{
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	display:block;
	margin-bottom:21px;
}

header h1{
	width:300px;
	padding-top:6px;
}
header h1 a{
  color: #aaa;
  font-size: 32px;
  letter-spacing: 5.5px;
  line-height: 48px;
  text-decoration: none;
  
  text-transform: lowercase;
}
header h1 span.tech{
 display: block;
 font-size: 16px;
 letter-spacing: 0;
 line-height: 24px;
 text-shadow: 0 0 8px white;
}
header .menu-wrap{
	float:right;
	padding-top:20px;
}

header ul.menu{
	float:left;
	list-style-type:none;
	width:600px;
	color:#aaa;
}

header ul.menu li{
	float:left;
}
header ul.menu a{
	text-decoration:none;
	display:block;
	padding: 10px 15px;
	text-decoration: none;
	color:#aaa;
	text-transform: lowercase;
	
}
header ul.menu a:hover{
	text-shadow: 0 0 8px white;
	color:white;
}
header ul.menu li.current a{
	background:url(/images/nav-arrow.png) top center no-repeat;
}

header div.site-subheader{
	display:none;
}
footer{
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	display:block;
	text-align:center;
	color:#aaa;
	padding-top:1.5em;
	margin-bottom:1.5em;
	line-height:1.5em;
}

