.banners-wrap {
  margin: 0;
}
.banners {
  position: relative;
  width: 930px;
  height: 340px;
}

/* So only the first banner is visible until the javascript loads */
div.banner{ display:none;}
.jshowoff div.banner, div.first-banner{ display:block;}


div.banner {
  width: 930px;
  color: #dfdfdf;
}

.t .banner h1,.t .banner h2,.t .banner h3{
	margin-top:0;
}


.t .banner a, .t .banner a:active, .t .banner a:hover{
	color:inherit;
	text-decoration:underline;
}
div.banner .image-block, div.banner .text-left {
    float: left;
    width: 400px;
    display: inline; 
		padding-top:16px;
}
div.banner .image-block img, div.banner .text-left img {
      background-color: #1c130e;
      border: 1px solid #251a15;
      padding: 12px; 
}
  div.banner .text-block, div.banner .text-right {
    float: right;
    width: 512px;
    display: inline; 
		text-shadow: 564px 0 32px white;
		
}


  div.banner a.more-link {
    float: left;
    margin-top: 5px;
    padding: 5px 10px;
    border: 1px solid #c96111;
    background: #e2721b url(../images/button-bg.png) repeat-x;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    color: white;
    display: block; }
    div.banner a.more-link:hover {
      border: 1px solid #2f4c13;
      background: #4a781d url(../images/button-hover-bg.png) repeat-x; }



/*-- jShowOff module styles -- */
.jshowoff p.jshowoff-slidelinks {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0;
  padding: 0; }

.jshowoff-slidelinks a, .jshowoff-controls a {
	background-color: transparent;
	border: 1px solid #222222;
  border-radius: 30px;
	-moz-border-radius: 30px;
  -webkit-border-radius: 30px;
	color: #AAAAAA;
  display: block;
  padding: 5px 7px 5px;
  margin: 0px;
  text-decoration: none;
  outline: none;
  font-size: 12px;
  line-height: 12px; }

.jshowoff-controls a {
  font-size: 12px;
  line-height: 15px;
  padding: 4px 8px 5px; }


.jshowoff-slidelinks a:hover, .jshowoff-controls a:hover ,.jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks a.jshowoff-active:hover {
    background-color: #222;
    color: #aaa; 
text-decoration:none;
}

p.jshowoff-controls {
	display:none;
  overflow: auto;
  height: 1%;
  padding: 0 0 5px 5px;
  margin: 0;
  position: relative;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px; }

.jshowoff-pausetext {
  color: white; }
