.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(/images/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(/images/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}
.tcontent{height:100%}




.page-content{
  background-color: #FEFEFE;
  border: 7px solid #E0E0E0;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	color:#202020;
	font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	padding:20px;
	padding-top:0px;
	padding-bottom:20px;
	text-shadow: -940px 0 16px white;
}


.buySidebar{
  float: right;
  margin-top: 75px;
  padding: 10px;
  text-align: center;
  width: 160px;
}

.buySidebar h3, .plugins_sidebar h3{
  color: #666666;
  font-size: inherit;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 1em;
}
.buySidebar p{
	line-height:1em;
}

.breadcrumbs{
		font-size:8pt;
}
.breadcrumbs a{
	color:inherit;
	padding-right:10px;
}
.breadcrumbs a:after{
	content: ">";
}
.breadcrumbs a:last-child{
	content: inherit;
}
.plugins_sidebar{
  float: right;
  margin-top: 75px;
  padding: 10px;
  text-align: left;
  width: 200px;
	border-left: 1px dotted gray;
	margin-left:10px;
	font-size:8pt;
	padding-top:0;
}
.plugins_sidebar p{
	line-height:1.6em;
}
.plugins_sidebar :first-child{
	margin-top:0;
}
.plugins_sidebar h3{
	font-size:10pt;
	font-weight:bold;
}
.plugins_sidebar ul{
	margin:0;
	line-height:1.2em;
	list-style-type:none;
}
.plugins_sidebar li{
	background:none !important;
}

.plugins_sidebar a{
	color:inherit;
}

.awesome, .awesome:visited {
	background: #222 url(/images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius:5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	
	margin-right: 20px;
  text-decoration: none !important;
}
 
	.awesome:hover							{ background-color: #111; color: #fff; }
	.awesome:active							{ top: 1px; }
	.small.awesome, .small.awesome:visited 			{ font-size: 11px; padding: ; }
	.awesome, .awesome:visited,
	.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }
	
	.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
	.green.awesome:hover						{ background-color: #749a02; }
	.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
	.blue.awesome:hover							{ background-color: #007d9a; }
	.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
	.red.awesome:hover							{ background-color: #872300; }
	.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
	.magenta.awesome:hover							{ background-color: #630030; }
	.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
	.orange.awesome:hover							{ background-color: #d45500; }
	.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
	.yellow.awesome:hover							{ background-color: #fc9200; }
	
	
	
	.gsc-control-cse {background-color:inherit; border:0;}