Menu: home
Title: ASP.NET Image Resizing, Cropping, & Upload Module for IIS - Free & Open Source - MVC compatible
Libs: uservoice, plusone, -comments, bxSlider
Aliases: )
Layout: layout

h1 RESTful image processing

== content_for :banner do

  == partial :part_slider

.whatisir
  h1
    | Create dynamic images that impress and inspire.
  p
    | ImageResizer provides a comprehensive set of photography tools, from powerfully simple one-command adjustments, such as white balance correction and noise removal, to cutting-edge advanced controls, such as red-eye correction, object removal, and seam carving. Have your server deliver final images to the browser in milliseconds.




== partial :part_middle_links

== partial :part_features

== partial :part_sites_using_ir

== partial :part_testimonials

== partial :part_customer_logos



