Title: Support - Image Resizer
Libs: uservoice, -comments
Icon: envelope

h1 Support

.well
	== partial :support_times

.row
	.span6
		h2 Before you contact us
		.well
			markdown:

				1. Visit the [self-diagnostics page](/plugins/diagnostics) on your server: `/resizer.debug.ashx`
				2. Enable [detailed error messages, and visit the image URL directly](/docs/geterror)
				3. Skim the comprehensive [troubleshooting guide](/docs/troubleshoot) and [faq](/docs/faq). If it's a *how-to* question, [try reading the documentation](/docs), [searching this site](/search), and [searching StackOverflow](http://stackoverflow.com/questions/tagged/imageresizer).
				
			hr
			markdown:
				When contacting support about a problem, *please* include (a) the [diagnostics page output](/plugins/diagnostics), and (b) [the precise error message you get when you put the image URL directly into the address bar](/docs/geterror). **Without this information, we cannot diagnose the problem**. 

		markdown:
			### Helpful Links

			* [Troubleshooting Guide](/docs/troubleshoot)
			* [Frequently Asked Questions](/docs/faq)
			* [StackOverflow: ImageResizer](http://stackoverflow.com/questions/tagged/imageresizer)
			* [UserVoice: ImageResizer](http://resizer.uservoice.com/forums/108373-image-resizer-v3)
			* [How to view the diagnostics page](/plugins/diagnostics)
			* [How to enable detailed error messages](/docs/geterror)
			* [Documentation - Index](/docs)
			* [Documentation - Search](/search)

	.span6
		h2 Priority Support
		markdown:
			Priority email, phone and TeamViewer support costs $135/incident. A [30-minute Q&A session costs $70](/support/consult), but (unlike) a support incident, is time-limited and only reccommended for consulting/introduction purposes.

			If you work for a business, please [look at the support contract options](/support/contracts) - they can provide significant savings. 

			It is suggested that you download and install [Team Viewer](http://teamviewer.com) on the computer in question, as remote desktop access may be required to resolve your issue.

			Credit cards, PayPal, and Google Checkout are accepted.

		form action="https://www.e-junkie.com/ecom/gb.php?c=cart&amp;i=939690&amp;cl=41912&amp;ejc=2" target="ej_ejc" method="POST" accept-charset="UTF-8"
			| Support Type
			br
			select name="o1"
				option value="30 Minute QA" 30 Minute Q&A ($70)
				option value="1 Aided Install and a 30 Minute QA" 1 Aided install + 30 Minute Q&amp;A ($130)
				option value="2 Aided Installs and a 30 Minute QA" 2 Aided installs + 30 Minute Q&amp;A ($190)
				option value="1 Support Incident" 1 Support Incident ($135)

			br
			input type="image" src="http://www.e-junkie.com/ej/ej_add_to_cart.gif" alt="Add to Cart" class="ec_ejc_thkbx" onClick="javascript:return EJEJC_lc(this.parentNode);"

			a href="https://www.e-junkie.com/ecom/gb.php?c=cart&amp;cl=41912&amp;ejc=2" target="ej_ejc" class="ec_ejc_thkbx" onClick="javascript:return EJEJC_lc(this);"
				img src="http://www.e-junkie.com/ej/ej_view_cart.gif" alt="View Cart"

		javascript: 
			function EJEJC_lc(th) { return false; }
		script src='http://www.e-junkie.com/ecom/box.js'
		
		h2 You may already qualify for Priority Support if you..

		markdown:
			* Have [an active support contract](/support/contracts)
			* Purchased your license before Apr. 20th, 2012
			* Purchased your license before Feb. 1st, 2013, and have never used the one (1) included incident.
			* Are an open-source developer leveraging the ImageResizing.NET project in another open-source project
			* Have blogged about the project and referred at least 300 visitors
		
hr
.row
	.span6

		h2 id="bugbounty" Bug bounty program
		markdown: 
			We offer free support for all *bug-related* inquiries through e-mail (**support@imageresizing.net**) and [StackOverflow](http://stackoverflow.com/questions/tagged/imageresizer).

			We will also PayPal you between $5 and $50 for each bug you report if you're the first to report it, and if it's in the latest version of one of our ImageResizer.* assemblies.

			The average bug reward is $15; only security holes and memory leaks are eligible for the $50 level. 

			We welcome feature requests, and everyone may [sumbit new ideas or vote for existing ones at the uservoice site](http://resizer.uservoice.com/forums/108373-image-resizer-v3).
	.span6
		h2 Free support on StackOverflow
		markdown:
			Free support is provided for [questions posted on StackOverflow](http://stackoverflow.com/questions/tagged/imageresizer), *if they meet the following criteria*:

			1. The question is [tagged 'imageresizer'](http://stackoverflow.com/questions/tagged/imageresizer) so we can find it.
			2. The question [includes a gist](https://gist.github.com/) with the diagnostics page output.
			3. The question is about the URL API and [follows best praticies](/docs/best-practices).
			4. The question is detailed enough to answer and shows some diagnostic effort.

			We typically answer StackOverflow questions within 1-2 weeks. E-mail your question URL to **support@imageresizing.net** for a faster response. 

			If we take the time to provide a good answer to your question, please be courteous; mark it as the answer and vote it up. We prioritize questions from StackOverflow users with a good reputation.




