Flags: hidden

javascript:
  function isDstInEffect(off){
    var d = new Date();
    //get the start and end dates for dst:(these rules are US only)
    var     y= d.getUTCFullYear(), countstart= 8, countend= 1,
    dstart= new Date(Date.UTC(y, 2, 8, 2, 0, 0, 0)),
    dend= new Date(Date.UTC(y, 10, 1, 2, 0, 0, 0));
    while(dstart.getUTCDay()!== 0) dstart.setUTCDate(++countstart);
    while(dend.getUTCDay()!== 0) dend.setUTCDate(++countend);

    //get the GMT time for the localized dst start and end times:
    //dstart.setUTCMinutes(off);
    //dend.setUTCMinutes(off);

    // if the date passed in is between dst start and dst end, adjust the offset and label:
    return (dstart<= d && dend>= d);
  }
  var now = new Date();


  var edtOffset = isDstInEffect(-5 * 60) ? -4: -5;//-4, -5

  edtOffset = 1;
  var localOffset = now.getTimezoneOffset() / -60;

  var a = (localOffset - edtOffset + 10) % 24;
  var b = (localOffset - edtOffset + 21) % 24;

  var mins =  now.getMinutes().toString(); 
  if (mins.length == 1) mins = mins + '0';

  document.write("For the quickest response, please contact support between <strong>" + a + ":00 and " + b + ":00</strong> (based on your estimated local time of " + now.getHours() + ":" + mins + "). ");
