.navbar a.brand{
  padding-top:0px;
}

#footer-menu-logo a.brand, #footer-menu-logo img{
  padding:0;
  margin:0;
  display:block;
}
#footer-menu-logo a.brand{

  padding-top:7px;
}

ul.slides.clients li{ 
  padding-left:10px; 
  padding-right:10px;
  max-width:164px;
}

#page-title-inner {
  background: none;
  filter:none;
  background-color: @blue;

}

#page-title-inner a{
  color:white;
}


form#newsletter{
  padding-left:0;
  margin-left:0;
}

/* Hide 'SEO blurb (only works for yahoo/bing'*/
div.site-subheader{
  display:none;
}

/* Price span tweaks */
.t .price{
  color:#3A741F;
}
.t p .price{
  font-weight:bold;
}

.pricer .col .details ul li{background: none;}

/* Search page tweaks */
.gsc-control-cse {background-color:inherit; border:0;}


.home-slider{
  margin-top:24px;
}

.whatisir p{
  font-size:140%;
  margin-top:7px;
}
.whatisir{
  margin-top:14px;
  margin-bottom:14px;
}


.client-logo-carousel {

}

/*Make client logo arrows more transparent */

.bx-transparent .bx-prev, .bx-transparent .bx-next {
  opacity:0.3;
}
.bx-transparent .bx-prev:hover, .bx-transparent  .bx-next:hover {
  opacity:1;
}

.bx-transparent .bx-viewport{
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow:none;

}
.bx-transparent .bx-pager{
  padding-top:8px;
}
.bx-transparent .bx-wrapper{
  margin-bottom:35px;
}

a.block{display:block;}
a.plaintext {color:@textColor;}
a.plaintext:hover{
  text-decoration: none !important;
};

/*
a.block:hover .icons-box:after{
  content: " read more ";
}
*/
a.editlink{color:white; float:left;}

ul.category_headers{
  line-height:20px;
  li {
    display:inline-block;
    padding:5px;
  }
  li.active{
    font-weight:bold;
  }
}

.sub_nav_bar{
  text-align:right;
}


.testimonials_home ul.quotations li{
  font-size: 140%;
  margin-top: 20px;
}

.testimonials_home ul.quotations li .quote-author{
  font-weight: bold;
}
