.navbar a.brand{
  padding-top:0px;
}

#footer-menu-logo a.brand, #footer-menu-logo img{
  padding:0;
  margin:0;
  display:block;
}
#footer-menu-logo a.brand{

  padding-top:7px;
}


#page-title-inner {
  background: none;
  filter:none;
  background-color: @blue;

}

#page-title-inner a{
  color:white;
}


form#newsletter{
  padding-left:0;
  margin-left:0;
}

/* Hide 'SEO blurb (only works for yahoo/bing'*/
div.site-subheader{
  display:none;
}

/* Price span tweaks */
.t .price{
  color:#3A741F;
}
.t p .price{
  font-weight:bold;
}

.pricer .col .details ul li{background: none;}

/* Search page tweaks */
.gsc-control-cse {background-color:inherit; border:0;}



