Menu: Docs
Title: Staff Page
Libs: -comments
Icon: coffee

h1 Meet the Staff

.row
  .title
    h2 Lilith River
  .span8
    markdown:
      Lilith River is a software engineer with unreasonably high expectations of inanimate objects. She refines Rust, .NET, Ruby, and Javascript libraries full-time at Imazen, but can often be found on stack overflow or participating in W3C community groups.
  
