Flags: edition
Edition: creative
Cost: The Creative edition costs $499 per domain. 
sort_field: 2
Layout: plugin_page
Includes Editions: free, performance

h1 Creative Edition

markdown:
  This bundle gives you tremendous flexibility for a very low price point. The Watermark and SimpleFilters plugins are medium-trust compatible.

  - Get a 2-4x speed boost by using WIC instead of GDI (requires full trust)
  - Go nuts with your RAW files, PSD files, and apply advanced filters you'd only expect from Photoshop.
  - Overlay (or underlay) multiple text and image layers with the Watermark plugin - anything is possible.
  - Auto-trim your product photos with WhitespaceTrimmer, or use SeamCarving to magically change the aspect ratio of images by slicing seams of pixels from background (low-energy) areas of the image.

  When purchased as the Creative Edition, you are allowed to use the plugins on a registered domain and any subdomains. If you choose to use the floating registration method, you can change domains at any time.
  If purchased with the Elite Edition or Support Contracts, you do not need to register your domains.

== partial :my_plugins, options
