Flags: edition
Edition: performance
Cost: The Performance edition costs $249 per domain
Suffix: The Elite and Creative editions include everything found in the Performance edition. 
sort_field: 1
Includes Editions: free

h1 Performance Edition

markdown: 
  This bundle gives you scalable performance, high-quality GIF, animated GIF, and 8-bit PNG support. 

  When purchased as the Performance Edition (under the [Domain license](/licenses/domain)), you are allowed to use the plugins on a registered domain and any subdomains. If you choose to use the floating registration method, you can change domains at any time.
  If purchased with the Elite Edition or Support Contracts, you do not need to register your domains.

== partial :my_plugins, options