Icon: roundabout
Aliases: /docs/benefits/agile


h1 Single-source imaging and Agility

h2 Eliminate duplication, eliminate human error
img src="http://z.zr.io/rw/diagrams/agile-clutter.png"
i.icon-arrow-right style="font-size:36pt"
img src="http://z.zr.io/rw/diagrams/agile-simple.png?width=338&height=286&scale=canvas&anchor=topleft"

.hero-unit
  p Single-source imaging is an essential strategy for companies who wish to reduce maintenance and increase agility.

  p Instead of creating multiple versions of each digital asset, a single, authoritative, highest-resolution version is stored in a central location, and smaller versions are derived on-demand.

  p: strong Employees waste hours every day with manual image processing, encoding, uploading, and fixing typos in file variations. The tiniest error in dimensions requires a repeat of the entire process. Your CMS may allow you to manage content easily, but it's unlikely it provides agile media management. ImageResizer can help.


markdown:
  Single-source imaging has been around since the 1990s, but until recently was only accessible to corporations like IBM, Kodak, and HP. These corporations realized its importance early on, and had the in-house expertise to develop their own systems. Developers creating server-side imaging software today face the same challenges that existed in the late 90's - efficient memory use, stability, quality, and security. Computers are faster today, but digital cameras produce larger images. 




h3 Unless you're prescient, you'll eventually have to create new sizes of your existing assets. Batch processing existing assets is not fun.

p For resilience, batch processing needs to be transactional and recoverable; corrupted source images aren't terribly uncommon. While building this kind of system is definitely possible, it will take time and be a severe impediment to your agility. 



