Flags: bundle
Bundle: 1
Cost: The Performance bundle costs $249 for an enterprise-wide license, or $99 for a personal license. 
Warning: Bundles will be discontinued on Feb. 1 2013 in favor of a simplified product model.

h1 Performance Bundle

p This bundle gives you scalable performance, high-quality GIF, animated GIF, and 8-bit PNG support. 

== partial :my_plugins