Bundle: 4
Flags: bundle
Cost: The Extras bundle costs $249 for an enterprise-wide license, or $99 for a personal license. 
Warning: Bundles were discontinued on Feb. 1 2013 in favor of a simplified product model.

h1 Extras Bundle

== partial :my_plugins