Flags: bundle
Bundle: contract
Cost: Support contracts start at $900. Support expires, but licenses do not. 
Warning: Bundles will be discontinued on Feb. 1 2013 in favor of a simplified product model.

h1 Support Contract Plugins

p Support contracts include licenses to a number of plugins that are not available in other bundles.

== partial :my_plugins