Aliases: /plugins/free
Bundle: free
Flags: bundle
Cost: This bundle is 100% free. All bundles include source code.
Warning: Bundles were discontinued on Feb. 1 2013 in favor of a simplified product model.


h1 Free bundle

markdown:

  Except for PdfRenderer, which is [under a different license](/licenses/pdfrenderer) due to its use of GPL components, all of the plugins in this bundler are released under the [Freedom license](/licenses/freedom).

  Everything here can be found in the [free download](/download).

  Logging, MvcRoutingShim, and PdfRenderer are seperate DLLs (due to extra dependencies), but all the rest are found in `ImageResizer.dll` in the `ImageResizer.Plugins.Basic` namespace.

  Check out the [maturity chart](/plugins/maturity) to see which plugins are the most stable.

== partial :my_plugins