Flags: edition
Edition: elite
sort field: 3
Includes Editions: free, performance, creative

h1 Elite Edition

markdown:
    Includes all plugins from the Creative, Performance, and Essential editions.

    To see which plans include these plugins, visit the [licenses](/licenses) page.

== partial :my_plugins, {:locals => {display_edition: :elite, includes_editions: defined?(includes_editions) ? includes_editions : [:free, :performance, :creative]}}