Flags: edition
Edition: performance
Suffix: The Elite and Creative editions include everything found in the Performance edition. 
sort_field: 1
Includes Editions: free

h1 Performance Edition

markdown: 
  This set of plugins gives you scalable performance, high-quality GIF, animated GIF, and 8-bit PNG support. 

  To see which plans include these plugins, visit the [licenses](/licenses) page.

  

== partial :my_plugins, {:locals => {display_edition: :performance, includes_editions: defined?(includes_editions) ? includes_editions : [:free]}}