#banner {
	padding: 65px 0px;
	height: 270px;
	margin: 0 auto;
	position: relative;
	max-width: 1100px;
}

#banner ul{
	margin: 0px;	
}

#banner li, #banner ul{
	list-style: none;	
}

.textAlignCenter{
	text-align: center;	
}

.overflowHidden{
	overflow: hidden;	
	position: relative;
}


.next,.prev {
	cursor: pointer;
	display: none;
	font-weight: bold;
	position: absolute;
	background: #ccc;
	top: 50%;
	z-index: 1000;
	height: 75px;
	margin-top: -47.5px;
}

.prev {
	left: 2%;
}

.next {
	right: 2%;
}

.prev img, .next img{
	height: 100%;
	width: auto;
}

#sequence-preloader{
	background: #d9d9d9;
}

#sequence li{
	height: 100%;
	position: absolute;
	width: 100%;
}


/*#sequence li img{
	height: 96%;
}*/

#sequence {
	display: block;
	height: 100%;
	margin: 0;
	position: absolute;
	max-width: 1200px;
	width: 100%;
	
	/*backface-visibility prevents graphical glitches when frames are animating*/
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.next,.prev {
	position: absolute;
	opacity: 0.6;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.next:hover,.prev:hover {
	opacity: 1;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}


.contents{
	width: 43%;	
}


/**************************************
 *************    Frame 1       *******
 **************************************/

.slide-titles, .slide-content{
	margin-left: -115%;
	opacity: 0;	
}

.slide-content{
	margin-left: -85%;
	width: 100%;
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;	
}

.animate-in .slide-titles, .animate-in .slide-content{
	margin-left: 0;
	opacity: 1;	
	
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}


.animate-out .slide-titles, .animate-out .slide-content{
	margin-left: -115%;
	opacity: 0;
	
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;		
}

.animate-in .slide-content{
	margin-left: 0;
	opacity: 1;	
	
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	-ms-transition-duration: 0.7s;
	transition-duration: 0.7s;
}

.bannerBtn{
	margin-top: 45%;
	width: 100%;
	opacity: 0;
	-webkit-transition-delay: 0.6s;	
	-moz-transition-delay: 0.6s;
	-o-transition-delay: 0.6s;
	-ms-transition-delay: 0.6s;
	transition-delay: 0.6s;	
}

.animate-in .bannerBtn{
	margin-top: 0;
	opacity: 1;
	
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	-ms-transition-duration: 0.7s;
	transition-duration: 0.7s;
	
}

.animate-out .bannerBtn{
	margin-top: 45%;
	opacity: 0;	
	
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	-ms-transition-duration: 0.7s;
	transition-duration: 0.7s;
}

.responsive{
	right: 8%;
	max-height: 290px !important;
	/*min-width: 225px; prevents the model from shrinking when the browser is resized*/
	max-width: 468px;
}

.fromTop {
	position: absolute;
	top: -135%;
	height: auto !important;
	-webkit-transform: rotate(45deg);
}

.animate-in .fromTop {
	top: -2%;
	opacity: 1;
	
	-webkit-transform: rotate(0deg);

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.animate-out .fromTop {
	top: -135%;
	opacity: 0;
	
	-webkit-transform: rotate(45deg);
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;
}

.bgFromRight {
	position: absolute;
	right: -3%;
	top: 8%;
	opacity: 0;
}

.animate-in .bgFromRight {
	right: 0%;
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;	

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.animate-out .bgFromRight {
	right: -3%;
	opacity: 0;
	
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;
}



/**************************************
  ***********    Frame 2       *******
 **************************************/
 
 .bootstrap{
	 left: 34%;
	max-height: 266px !important;
	/*min-width: 225px; prevents the model from shrinking when the browser is resized*/
	max-width: 362px;
 }

.fromBottom {
	position: absolute;
	bottom: -135%;
	height: auto !important;
}

.animate-in .fromBottom {
	bottom: 15%;
	opacity: 1;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.animate-out .fromBottom {
	bottom: -135%;
	opacity: 0;
	
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;
}


.centeredText{
	position: absolute;
	top: -80%;
	opacity:0;
	text-align: center;
	width: 100%;
	
	-webkit-transform: rotate(-45deg);
}

.animate-in .centeredText{
	top: -8%;
	opacity: 1;
	
	/*backface-visibility prevents graphical glitches when frames are animating*/
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
	
	-webkit-transform: rotate(0deg);	
}

.animate-out .centeredText{
	top: -80%;
	opacity: 0;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;	
	
	/*-webkit-transform: rotate(45deg);
	-webkit-transform-origin: left top;*/
}


.html5, .css3{
	position: absolute;
	left: -100%;
	opacity:0;
	top: 15%;
}

.animate-in .html5, .animate-in .css3{
	left: 10%;
	opacity: 1;

	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;	

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;	
}

.animate-out .html5, .animate-out .css3{
	left: -100%;
	opacity: 0;
	
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;	
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.css3{
	left: auto;	
	right: -100%;
}

.animate-in .css3{
	left: auto;
	right: 10%;
	
}

.animate-out .css3{
	left: auto;	
	right: -100%;	
}


.fromBottom.bootstrap.slide2bg{
	max-height: 399px !important;
	/*min-width: 225px; prevents the model from shrinking when the browser is resized*/
	max-width: 549px;
	left: 25%;
		
	-webkit-transition-delay: 0.6s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;	
	
	
}

.animate-out .fromBottom.bootstrap.slide2bg{
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;	
}

.slide3.slide-titles{
	margin-top: -48px;	
}

.slide3Text{
	width: 40%;
	text-align: center;	
}

.textFromTop{
	position:absolute;
	top: -100%;
	opacity: 0;
	width: 40%;
}


.animate-in .textFromTop{
	top: 35%;
	opacity: 1;
	left: 42%;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;	
}

.animate-out .textFromTop{
	bottom: 110%;
	opacity: 0;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;	
}

.textFromBottom{
	position:absolute;
	bottom: -110%;
	left: 55%;	
}

.animate-in .textFromBottom{
	bottom: 27%;
	opacity: 1;
	left: 43%;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.animate-out .textFromBottom{
	bottom: 110%;
	opacity: 0;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;		
}

.decoration{
	position: absolute;
	bottom: -30%;
	opacity: 0;
	left: 15%;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);	
	
	-webkit-transform: skew(30deg,30deg);
	-moz-transform: skew(30deg,30deg);
	-o-transform: skew(30deg,30deg);
	-ms-transform: skew(30deg,30deg);
	transform: skew(30deg,30deg);
}

.animate-in .decoration{
	
	bottom: 30%;
	opacity: 0.2;
	left: 44%;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	
	-webkit-transform: skew(0deg,0deg);
	-moz-transform: skew(0deg,0deg);
	-ms-transform: skew(0deg,0deg);
	-o-transform: skew(0deg,0deg);
	transform: skew(0deg,0deg);
	
	-webkit-transition-delay: 1s;
	-moz-transition-delay: 1s;
	-o-transition-delay: 1s;
	-ms-transition-delay: 1s;
	transition-delay: 1s;
	
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.animate-out .decoration{
	bottom: -30%;
	opacity: 0;
	left: 15%;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);	
	
	-webkit-transform: skew(30deg,30deg);
	-moz-transform: skew(30deg,30deg);
	-o-transform: skew(30deg,30deg);
	-ms-transform: skew(30deg,30deg);
	transform: skew(30deg,30deg);
}

.animate-in .color{
	top: -16%;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);	
}

.slide-titles.textAlignCenter.slide4{
	margin-top: 8%; 	
}

.animate-in .slide-titles.textAlignCenter.slide4{
	margin-left: 5%;	
}

.animate-in .slide4Content.textAlignCenter{
	margin-left: 5%;
}

.color{
	top: -16%;
	position:absolute;
	right: 110%;
	opacity: 0;
	max-height: 400px !important;
	/*min-width: 225px; prevents the model from shrinking when the browser is resized*/
	max-width: 419px;
}

.animate-in .color{
	right: 0;
	opacity: 1;
	top: -16%;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;	
}

.animate-out .color{
	right: 110%;
	opacity: 0;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.bgFull{
	top: -16%;
	position:absolute;
	left: 110%;
	opacity: 0;
	width: 100%;
	height: 100%;
}

.animate-in .bgFull{
	left: 0;
	opacity: 1;
	z-index: -1;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;	
}

.animate-out .bgFull{
	left: 110%;
	opacity: 0;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
@media only screen and (min-width : 992px) {
	#banner .contents{
		width: 42%;
	}
	.animate-in .textFromTop {
		top: 30%;
	}

}

@media only screen and (max-width : 838px) {

	#banner h1, #banner .title, #banner h2 {
		font-size: 1.6em;
	}
	
	#banner {
		padding: 48px 0 0;
		height: 252px;
	}
	
	#bannerCon, .overflow{
		height: 300px !important;	
	}
		
	#banner img{
		max-width: 50%;	
	}
	
	#sequence .bg, #sequence .slide-content{
		display: none;	
	}
	
	.animate-in .html5{
		left: 0%;
	}
	
	.animate-in .css3 {
		right: 0%;
	}
	
	.bootstrap {
		left: 27%;
	}
	
	.animate-in .html5{
		left: 0%;
	}
	
	.animate-in .css3 {
		right: 0%;
	}
	
	.animate-in .textFromBottom {
		bottom: 15%;
		width: 50%;
	}
	
	.animate-in .textFromTop {
		top: 23%;
		left: 47%;
		width: 50%;
	}
	
	.animate-in .fromBottom {
		bottom: 9%;
	}
	
	.color{
		min-width: 315px;	
	}

}

@media only screen and (max-width : 768px) {	
	
	.next,.prev {
		height: 60px;
		margin-top: -40px;
	}
	
	#bannerCon, .overflow{
		height: 300px !important;	
	}
	
	.animate-in .slide-titles, .animate-in .slide-content, .animate-in .bannerBtn{
		margin-left: 0;
		width: 50%
	}
	
	.responsive{
		right: 0;	
	}
	
	.bootstrap {
		left: 27%;
	}
	
	.animate-in .html5{
		left: 0%;
	}
	
	.animate-in .css3 {
		right: 0%;
	}
	
	.animate-in .textFromBottom {
		bottom: 15%;
		width: 50%;
		left: 49%;
	}
	
	.animate-in .textFromTop {
		top: 28%;
		width: 50%;
	}
	
	.color{
		min-width: 315px;	
	}
	.animate-in .color {
		right: -9%;
		opacity: 1;
		top: -20%;
		transition-duration: 1s;
	}
	
	.animate-in .slide-titles.textAlignCenter.slide4 {
		margin-left: 0;
	}


}

@media only screen
and (max-width : 568px) {
	#banner h1, #banner .title, #banner h2 {
		font-size: 1.6em;
	}
	
	#banner {
		padding: 48px 0 0;
		height: 200px;
	}
	
	#bannerCon, .overflow{
		height: 248px !important;	
	}
		
	#banner img{
		max-width: 50%;	
	}
	
	#sequence .bg, #sequence .slide-content{
		display: none;	
	}
	
	.animate-in .html5{
		left: 0%;
	}
	
	.animate-in .css3 {
		right: 0%;
	}
	
	.bootstrap {
		left: 27%;
	}
	
	.animate-in .html5{
		left: 0%;
	}
	
	.animate-in .css3 {
		right: 0%;
	}
	
	.animate-in .textFromBottom {
		bottom: 15%;
		width: 50%;
	}
	
	.animate-in .textFromTop {
		top: 23%;
		left: 47%;
		width: 50%;
	}
	
	.animate-in .fromBottom {
		bottom: 9%;
	}
	
	.color{
		min-width: 260px;	
		z-index: -1;
	}
	
	.bannerBtn span, .bannerBtn .secLink, .hideMobile, #banner .tagline{
		display: none;
	}
	.animate-in img.fromTop {
		top: 11%;
	}
}

@media only screen
and (max-width : 518px) {
	#header{
		height: 450px;
	}
}

@media only screen
and (max-width : 468px) {
	
	#header{
		height: 415px;
	}
	
	#nav{
		opacity: 0;
		visibility: hidden;
	}
}

@media only screen
and (max-width : 418px) {
	#header{
		height: 375px;
	}
	
	#sequence img{
		display: none;	
	}
	
	.contents {
		width: 77%;
		text-align: center;
		margin-left: 6%;
	}
	
	.slide-titles{
		width: 100%;
		text-align: center;	
	}
	
	.animate-in .centeredText, .animate-in .textFromTop{
		width: 80%;
		top: 12%;
		left: -2%;	
	}
	
	.animate-in .slide-titles.textAlignCenter.slide4 {
		margin-left: 0%;
		margin-top: 23%;
		width: 80%;
	}
}

@media only screen
and (max-width : 368px) {
	#header{
		height: 325px;
	}
	#banner .title{
		font-size: 2.2em;
	}
}

@media 	only screen
		and (max-width : 320px)
		and (orientation : portrait) { /*iphone portrait*/
	#sequence img{
		display: none;	
	}
	
	.contents {
		width: 80%;
		text-align: center;
		margin-left: 0;
	}
	
	.slide-titles{
		width: 80%;
		text-align: center;	
	}
	
	.animate-in .slide-titles, .animate-in .slide-content, .animate-in .bannerBtn {
		margin-left: 0 !important;
		width: 80%;
	}
	
	.animate-in .centeredText, .animate-in .textFromTop{
		width: 80%;
		top: 12%;
		left: -2%;	
	}
	
	.animate-in .slide-titles.textAlignCenter.slide4 {
		margin-left: 0 !important;
		margin-top: 23%;
		width: 80%;
	}
}

.ie9 #banner, .lt-ie9 #banner{
	overflow: hidden;	
}


